@using H_Market.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}
<div class="container" pb-5>

    <div class="row mt-3">
        <div class="col-md-3">
       @Html.Action("GetCategories","Home")
        </div>

        <div class="col-md-9">
        <div class="row">

            @Html.Partial("_ProductList", Model)

        </div>
    </div>
    </div>
</div>
